@{
    ViewData["Title"] = "Project Database";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to the Project Database</h1>

    <h3>Group Names</h3>
    <ul class="list-unstyled">
        <h4 class="fw-normal">Leandro Nuñez Berroa</h4>
        <h4 class="fw-normal">Matheus Silveira Fracasso</h4>
        <h4 class="fw-normal">Berçin Yurtkap</h4>
    </ul>
</div>
